@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
body main h1 {
  font-family: "Glook";
  font-size: 3.75rem;
  line-height: 70px;
  margin-bottom: 42px;
}
body main h2 {
  font-family: "Glook";
  font-size: 2.25rem;
  width: 100%;
  margin: 24px 0;
}
body main h3 {
  font-family: "Glook";
  font-size: 1.5rem;
  margin: 12px 0;
}
body main h4 {
  font-family: "Neusa-DemiBold";
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body main p {
  font-family: "Neusa";
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

hr {
  border: solid 0.5px #083837;
  margin-bottom: 42px;
}

strong {
  font-family: "Neusa-DemiBold";
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  background-color: #F4F0EE;
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaire:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #083837;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaireNega:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #F4F0EE;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
  height: 100vh;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 60%;
  height: 70%;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 60px 0;
}
body header button .hamburger-box {
  display: none;
}
body header nav {
  width: 50%;
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav ul li a p {
  width: max-content;
  position: relative;
}
body header nav ul li a p:hover::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body header nav ul li .btnPrimaire {
  display: block;
  width: 100px;
}
body header nav ul li .btnPrimaire p:hover::after {
  display: none;
}
body header nav ul li .actif {
  position: relative;
}
body header nav ul li .actif::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body button {
  font-family: "Neusa-DemiBold";
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
}

.heroAbout {
  width: 80%;
}
.heroAbout div {
  display: flex;
  justify-content: space-between;
  margin: 42px 0;
}
.heroAbout div img {
  width: 260px;
  height: 320px;
  rotate: -4deg;
}
.heroAbout div p {
  width: 60%;
  font-size: 1.5rem;
  line-height: 34px;
}

.skills {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills div {
  width: 45%;
}
.skills div ul {
  flex-direction: column;
  align-items: flex-start;
  padding-left: 24px;
}
.skills div ul li {
  margin: 6px 0;
  list-style: circle;
}
.skills hr {
  width: 100%;
  border: solid 0.5px #083837;
  margin: 42px 0;
}

.experience {
  width: 80%;
  margin-bottom: 60px;
  position: relative;
}
.experience::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 50%;
  height: 80%;
}
.experience .experienceType {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.experience .experienceType div {
  width: 30%;
}
.experience .experienceType div p {
  font-family: "Neusa-DemiBold";
  text-transform: uppercase;
}
.experience .experienceType .description {
  width: 60%;
}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/
.projectModule {
  background-color: #083837;
  width: 100%;
  margin: 60px 0 42px 0;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F4F0EE;
}
.projectModule h2 {
  text-align: center;
}
.projectModule .listProject {
  display: flex;
  justify-content: center;
  margin: 42px 0 60px 0;
}
.projectModule .listProject a {
  position: relative;
  border: solid 1px #F4F0EE;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: auto 10px;
  width: 40%;
  height: 150px;
  justify-content: space-between;
  box-sizing: border-box;
}
.projectModule .listProject a:hover::after {
  left: 62%;
}
.projectModule .listProject a:hover img {
  opacity: 1;
  filter: grayscale(0);
}
.projectModule .listProject a::after {
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 60%;
  transition: left 0.5s;
  transform: translateX(-50%);
}
.projectModule .listProject a h3 {
  margin-left: 20px;
  width: 40%;
  color: #F4F0EE;
}
.projectModule .listProject a img {
  opacity: 40%;
  border-radius: 10px;
  width: 40%;
  object-fit: cover;
  transition: filter 1s;
  filter: grayscale(1);
}
.projectModule button {
  font-family: "Neusa-DemiBold";
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
  background-color: #083837;
  color: #F4F0EE;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 60%;
  height: 100%;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule img {
  width: 30%;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer li {
  list-style-type: none;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/
@media (max-width: 1280px) {
  body header nav {
    width: 60%;
  }
  body .experienceType div {
    width: 40%;
  }
  body .experienceType .description {
    width: 55%;
  }
  body .contactModule {
    width: 80%;
  }
}
@media (max-width: 960px) {
  body hr {
    margin-bottom: 24px;
  }
  body::after {
    left: 0;
    width: 300px;
    height: 300px;
  }
  body header button .hamburger-box {
    display: block;
  }
  body header nav {
    display: none;
  }
  body header nav.active {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #083837;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 42px;
  }
  body header nav.active ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  body header nav.active ul li {
    width: 100%;
  }
  body header nav.active ul li a {
    display: block;
    color: #F4F0EE;
    background-color: rgba(244, 240, 238, 0.1215686275);
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
  }
  body header nav.active ul li a:first-of-type {
    margin-top: 20px;
  }
  body header nav.active ul li .btnPrimaire {
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
  }
  body .heroAbout {
    width: 90%;
  }
  body .heroAbout div {
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
  }
  body .heroAbout div p {
    width: 100%;
    margin-top: 42px;
    font-size: 18px;
  }
  body .skills {
    width: 90%;
    flex-direction: column;
  }
  body .skills div {
    width: 100%;
  }
  body .experience {
    width: 90%;
  }
  body .experience::after {
    width: 300px;
    height: 300px;
    top: -5%;
    left: -10%;
  }
  body .experience .experienceType {
    flex-direction: column;
  }
  body .experience .experienceType div {
    width: 100%;
  }
  body .experience .experienceType .description {
    width: 100%;
    line-height: 36px;
  }
  body .projectModule {
    margin: 0;
  }
  body .projectModule .listProject {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  body .projectModule .listProject a {
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    padding: 16px;
  }
  body .projectModule .listProject a:first-of-type {
    margin-bottom: 42px;
  }
  body .projectModule .listProject a::after {
    bottom: -25px;
    left: 40px;
  }
  body .projectModule .listProject a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body .projectModule .listProject a h3 {
    width: 100%;
    line-height: 32px;
    margin: 16px 0 30px 0;
  }
  body .contactModule {
    width: 90%;
    flex-direction: column-reverse;
  }
  body .contactModule::after {
    width: 300px;
    height: 300px;
    top: -10%;
    right: 0;
  }
  body .contactModule div {
    width: 100%;
    text-align: center;
  }
  body .contactModule img {
    width: 30%;
  }
  body footer {
    flex-direction: column;
    align-items: normal;
    padding: 48px 0;
  }
  body footer ul {
    align-items: normal;
    flex-direction: column;
    width: 80%;
    margin-left: 36px;
  }
  body footer ul li {
    margin-bottom: 20px;
  }
  body footer div {
    justify-content: normal;
    margin-left: 30px;
  }
  body footer div a {
    margin-right: 20px;
  }
  body footer .logoFooter {
    margin: 60px 0 20px 30px;
  }
}

/*# sourceMappingURL=a-propos.css.map */
