@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
h2 {
  font-family: "Glook";
  font-size: 36px;
}

h3 {
  font-family: "Glook";
  font-size: 24px;
}

h4 {
  font-family: "Neusa-DemiBold";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-family: "Neusa";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
}
.btnPrimaire:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
  height: 100vh;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 60px 60px;
}
body header div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body button {
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
}

.heroPortfolio {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: "Glook";
  font-size: 42px;
  line-height: 80px;
}
.heroPortfolio h1 {
  font-size: 80px;
}
.heroPortfolio p {
  width: 30%;
  margin-top: 200px;
}

.filters {
  margin-top: 120px;
  width: 50%;
}
.filters li {
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.listProject {
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listProject .projetType {
  width: 45%;
  background-color: #083837;
  color: #F4F0EE;
  padding: 24px;
  margin: 12px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.listProject .projetType div {
  color: #F4F0EE;
  position: relative;
  width: 50%;
}
.listProject .projetType div::after {
  z-index: 1;
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  bottom: 30px;
  right: -80px;
}
.listProject .projetType div span {
  font-family: "Neusa-DemiBold";
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  background-color: rgba(244, 240, 238, 0.168627451);
  padding: 4px 8px;
  border-radius: 2px;
}
.listProject .projetType img {
  border-radius: 12px;
  opacity: 40%;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 600px;
  height: 600px;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule img {
  width: 30%;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 600px;
  height: 600px;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule img {
  width: 30%;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*# sourceMappingURL=portfolio.css.map */
