@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
  height: 100vh;
  margin: 0;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
body main h1 {
  font-family: "Glook";
  font-size: 3.75rem;
  line-height: 70px;
  margin-bottom: 18px;
}
body main h2 {
  font-family: "Glook";
  font-size: 2.25rem;
}
body main h3 {
  font-family: "Glook";
  font-size: 1.5rem;
  margin: 12px 0;
}
body main h4 {
  font-family: "Neusa-DemiBold";
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body main p {
  font-family: "Neusa";
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  background-color: #F4F0EE;
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaire:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #083837;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaireNega:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #F4F0EE;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 60px 0;
}
body header button .hamburger-box {
  display: none;
}
body header nav {
  width: 50%;
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav ul li a {
  width: max-content;
  position: relative;
}
body header nav ul li a:hover::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body header nav ul li .btnPrimaire {
  display: block;
  width: 100px;
}
body header nav ul li .btnPrimaire:hover::after {
  display: none;
}
body header nav ul li .actif {
  position: relative;
}
body header nav ul li .actif::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body button {
  font-family: "Neusa-DemiBold";
  letter-spacing: 2px;
  text-decoration: underline;
  text-transform: uppercase;
  border: none;
  margin-top: 48px;
}

.heroPortfolio {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: "Glook";
  line-height: 80px;
  margin-bottom: 60px;
}
.heroPortfolio p {
  width: 30%;
  margin-top: 150px;
}

.filters {
  justify-content: center;
  margin-top: 120px;
  width: 40%;
}
.filters .actif button {
  background-color: #083837;
  color: #F4F0EE;
  padding: 8px 18px;
  border-radius: 5px;
  font-family: "Neusa-SemiBold";
}
.filters li {
  margin-left: 12px;
}
.filters li button {
  font-family: "Neusa";
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(8, 56, 55, 0.1607843137);
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
}

.listProject {
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listProject .projetType {
  width: 48%;
  background-color: #083837;
  color: #F4F0EE;
  padding: 24px;
  margin: 12px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}
.listProject .projetType:hover div::after {
  right: -25%;
}
.listProject .projetType:hover img {
  opacity: 1;
  filter: grayscale(0);
}
.listProject .projetType div {
  color: #F4F0EE;
  position: relative;
  width: 50%;
}
.listProject .projetType div::after {
  z-index: 1;
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 42px;
  height: 42px;
  bottom: 30px;
  right: -20%;
  transition: right 0.5s;
}
.listProject .projetType div span {
  font-family: "Neusa-DemiBold";
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(244, 240, 238, 0.168627451);
  padding: 4px 8px;
  border-radius: 2px;
}
.listProject .projetType img {
  border-radius: 12px;
  opacity: 40%;
  width: 45%;
  object-fit: cover;
  height: auto;
  filter: grayscale(1);
  transition: opacity 1s;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 600px;
  height: 600px;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule div a {
  display: block;
  width: 118px;
}
.contactModule img {
  width: 30%;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer .socialMedia {
  width: 10%;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/
@media (max-width: 1280px) {
  body header nav {
    width: 60%;
  }
  body .experienceType div {
    width: 48%;
  }
  body .experienceType .description {
    width: 55%;
  }
  body .filters {
    margin-top: 60px;
    width: 60%;
  }
  body .listProject {
    width: 90%;
  }
  body .contactModule {
    width: 80%;
  }
}
@media (max-width: 960px) {
  body hr {
    margin-bottom: 24px;
  }
  body::after {
    left: 0;
    width: 300px;
    height: 300px;
  }
  body header button .hamburger-box {
    display: block;
  }
  body header nav {
    display: none;
  }
  body header nav.active {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #083837;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 42px;
  }
  body header nav.active ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  body header nav.active ul li {
    width: 100%;
  }
  body header nav.active ul li a {
    display: block;
    color: #F4F0EE;
    background-color: rgba(244, 240, 238, 0.1215686275);
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
  }
  body header nav.active ul li a:first-of-type {
    margin-top: 20px;
  }
  body header nav.active ul li .btnPrimaire {
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
  }
  body main {
    display: flex;
  }
  body main h1 {
    font-family: "Glook";
    font-size: 3rem;
    line-height: 48px;
  }
  body main h2 {
    font-family: "Glook";
    font-size: 1.875rem;
    line-height: 36px;
  }
  body main h3 {
    font-family: "Glook";
    font-size: 1.125rem;
    line-height: 24px;
  }
  body main h4 {
    font-family: "Neusa-DemiBold";
    font-size: 1rem;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  body main p {
    font-family: "Neusa";
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 2px;
  }
  body main .heroPortfolio {
    flex-direction: column;
    width: 90%;
    margin-bottom: 30px;
  }
  body main .heroPortfolio h1 {
    line-height: 58px;
    margin-bottom: 0;
  }
  body main .heroPortfolio p {
    width: 100%;
    margin: 18px 0 0 0;
  }
  body main .filters {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
  body main .filters li button {
    margin-top: 12px;
  }
  body main .listProject {
    flex-direction: column;
  }
  body main .listProject .projetType {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column-reverse;
    margin: 0 0 30px 0;
  }
  body main .listProject .projetType div {
    width: 100%;
    margin: 30px 0 60px 0;
  }
  body main .listProject .projetType div::after {
    left: 0;
    bottom: -50%;
  }
  body main .listProject .projetType img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body main button {
    margin-top: 24px;
  }
  body main .contactModule {
    flex-direction: column-reverse;
    width: 90%;
    margin: 60px 0;
  }
  body main .contactModule::after {
    width: 300px;
    height: 300px;
    top: -10%;
    right: 0;
  }
  body main .contactModule div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body main .contactModule div h2 {
    margin-bottom: 0;
  }
  body main .contactModule div p {
    margin-bottom: 30px;
  }
  body main .contactModule img {
    width: 40%;
    margin-bottom: 24px;
  }
  body footer {
    flex-direction: column;
    align-items: normal;
    padding: 48px 0;
  }
  body footer ul {
    align-items: normal;
    flex-direction: column;
    width: 80%;
    margin-left: 36px;
  }
  body footer ul li {
    margin-bottom: 20px;
  }
  body footer .socialMedia {
    width: 25%;
    flex-direction: initial;
    justify-content: space-between;
    margin-top: 30px;
  }
  body footer .logoFooter {
    margin: 60px 0 20px 30px;
  }
}

/*# sourceMappingURL=portfolio.css.map */
