@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
h2 {
  font-family: "Glook";
  font-size: 36px;
}

h3 {
  font-family: "Glook";
  font-size: 24px;
}

h4 {
  font-family: "Neusa-DemiBold";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-family: "Neusa";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

hr {
  border: solid 0.5px #083837;
  margin-bottom: 42px;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
}
.btnPrimaire:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
  height: 100vh;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 60px 60px;
}
body header .menu {
  display: none;
}
body header nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body button {
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
}

.heroPresta {
  width: 80%;
}
.heroPresta h1 {
  font-size: 80px;
  line-height: 70px;
}

.Presta {
  width: 80%;
  margin: 60px 0;
}
.Presta .listPrest {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
.Presta .listPrest div {
  width: 45%;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
}
.Presta .listPrest div:last-of-type {
  width: 40%;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
}
.Presta .listPrest div:last-of-type::before {
  z-index: -2;
  content: "";
  position: absolute;
  top: -100%;
  left: -60%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
.Presta .listPrest div:last-of-type h3 {
  margin-top: 60px;
}
.Presta .listPrest div:last-of-type p {
  margin-bottom: 42px;
}
.Presta .listPrest div img {
  width: auto;
  height: 70px;
}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/
.projectModule {
  background-color: #083837;
  width: 100%;
  margin: 60px 0 2px 0;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F4F0EE;
}
.projectModule .listProject {
  display: flex;
  justify-content: center;
  margin: 42px 0 24px 0;
}
.projectModule .listProject a {
  border: solid 1px #F4F0EE;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: auto 10px;
  width: 400px;
  position: relative;
}
.projectModule .listProject a::after {
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 60%;
  transform: translateX(-50%);
}
.projectModule .listProject a h3 {
  margin-left: 20px;
  color: #F4F0EE;
}
.projectModule .listProject a img {
  opacity: 40%;
  border-radius: 10px;
  width: 40%;
}
.projectModule button {
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
  background-color: #083837;
  color: #F4F0EE;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/
@media (max-width: 1280px) {
  body::after {
    width: 400px;
    height: 400px;
  }
  body header nav {
    width: 60%;
  }
  body .experienceType div {
    width: 40%;
  }
  body .experienceType .description {
    width: 55%;
  }
  body .Presta .listPrest div {
    width: 42%;
  }
  body .Presta .listPrest div:last-of-type::before {
    width: 400px;
    height: 400px;
    top: -20%;
    left: -20%;
  }
}
@media (max-width: 960px) {
  body h2 {
    font-size: 30px;
  }
  body hr {
    margin-bottom: 24px;
  }
  body::after {
    left: 0;
    width: 300px;
    height: 300px;
  }
  body header .menu {
    display: block;
  }
  body header nav {
    display: none;
  }
  body .heroPresta h1 {
    font-size: 48px;
    line-height: 58px;
  }
  body .Presta .listPrest div {
    width: 90%;
  }
  body .Presta .listPrest div:last-of-type {
    width: 90%;
  }
  body .Presta .listPrest div:last-of-type::before {
    width: 300px;
    height: 300px;
    top: -10%;
    left: -10%;
  }
  body .projectModule {
    margin-bottom: 2px;
  }
  body .projectModule .listProject {
    flex-direction: column;
    align-items: center;
  }
  body .projectModule .listProject a {
    width: 80%;
    flex-direction: column-reverse;
    padding: 16px;
  }
  body .projectModule .listProject a:first-of-type {
    margin-bottom: 42px;
  }
  body .projectModule .listProject a::after {
    right: 0;
    bottom: -25px;
    left: initial;
  }
  body .projectModule .listProject a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body .projectModule .listProject a h3 {
    line-height: 32px;
    margin: 16px 0 30px 0;
  }
  body footer {
    flex-direction: column;
    align-items: normal;
    padding: 48px 0;
  }
  body footer ul {
    align-items: normal;
    flex-direction: column;
    width: 80%;
    margin-left: 36px;
  }
  body footer ul li {
    margin-bottom: 20px;
  }
  body footer div {
    justify-content: normal;
    margin-left: 30px;
  }
  body footer div a {
    margin-right: 20px;
  }
  body footer .logoFooter {
    margin: 60px 0 20px 30px;
  }
}

/*# sourceMappingURL=prestations.css.map */
