@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
h2 {
  font-family: "Glook";
  font-size: 2.25rem;
}

h3 {
  font-family: "Glook";
  font-size: 1.5rem;
}

h4 {
  font-family: "Neusa-DemiBold";
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-family: "Neusa";
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #F4F0EE;
  letter-spacing: 2px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
}
.btnPrimaire:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
}
.btnPrimaireNega:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #083837;
  color: #F4F0EE;
  width: 100%;
  height: 100vh;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body h1 {
  font-family: "Glook";
  font-size: 3.75rem;
  line-height: 70px;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 60px 0;
}
body header button .hamburger-box {
  display: none;
}
body header button .hamburger-inner {
  background-color: #F4F0EE;
}
body header button .hamburger-inner::after {
  background-color: #F4F0EE;
}
body header button .hamburger-inner::before {
  background-color: #F4F0EE;
}
body header nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav img {
  display: none;
}

.heroProjectType {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.heroProjectType .descriptionProject {
  width: 40%;
}
.heroProjectType .descriptionProject table {
  margin-top: 60px;
  width: 100%;
  border-top: 1px solid #F4F0EE;
  border-bottom: 1px solid #F4F0EE;
  padding: 18px 0;
}
.heroProjectType .descriptionProject table tbody {
  display: flex;
  justify-content: space-between;
}
.heroProjectType .descriptionProject table tbody tr {
  display: flex;
  flex-direction: column;
}
.heroProjectType .descriptionProject table tbody tr:first-of-type {
  font-family: "Neusa";
  text-transform: uppercase;
  letter-spacing: 2px;
  align-items: flex-start;
}
.heroProjectType .descriptionProject table tbody tr:last-of-type {
  font-family: "Neusa-DemiBold";
  letter-spacing: 2px;
  align-items: flex-end;
}
.heroProjectType .descriptionProject table tbody tr td {
  margin-bottom: 18px;
}
.heroProjectType .descriptionProject table tbody tr th {
  margin-bottom: 18px;
}
.heroProjectType img {
  width: 45%;
  border-radius: 10px;
  object-fit: cover;
}

.explicationProject {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
}
.explicationProject p {
  width: 45%;
}

.pictureProject {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pictureProject img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 18px;
}
.pictureProject .littlePicture {
  width: 49%;
  margin-bottom: 2%;
}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/
.projectModule {
  margin: 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectModule .listProject {
  display: flex;
  justify-content: center;
  margin: 42px 0 24px 0;
}
.projectModule .listProject a {
  border: solid 1px #F4F0EE;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: auto 10px;
  width: 400px;
  position: relative;
}
.projectModule .listProject a::after {
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 60%;
  transform: translateX(-50%);
}
.projectModule .listProject a h3 {
  margin-left: 20px;
}
.projectModule .listProject a img {
  opacity: 40%;
  border-radius: 10px;
  width: 40%;
}
.projectModule button {
  font-family: "Neusa-DemiBold";
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: underline;
  border: none;
  margin-top: 48px;
  background-color: #083837;
  color: #F4F0EE;
}

.contactModule {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F4F0EE;
  color: #083837;
}
.contactModule .content {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule .content::after {
  z-index: 0;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 400px;
  height: 400px;
}
.contactModule .content div {
  width: 55%;
}
.contactModule .content div p {
  margin-bottom: 42px;
}
.contactModule .content div a {
  color: #083837;
  border: solid 1px #083837;
}
.contactModule .content img {
  z-index: 1;
  width: 30%;
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/
footer {
  background-color: #083837;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/
@media (max-width: 1280px) {
  body header nav {
    width: 60%;
  }
  body .contactModule .content {
    width: 80%;
  }
}
@media (max-width: 960px) {
  body h2 {
    font-size: 1.875rem;
  }
  body hr {
    margin-bottom: 24px;
  }
  body::after {
    left: 0;
    width: 300px;
    height: 300px;
  }
  body header button .hamburger-box {
    display: block;
  }
  body header nav {
    display: none;
  }
  body header nav.active {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #083837;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 42px;
    box-sizing: border-box;
  }
  body header nav.active a {
    color: #F4F0EE;
    background-color: rgba(244, 240, 238, 0.1215686275);
    width: 100%;
    padding: 18px 24px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  body header nav.active a:first-of-type {
    margin-top: 60px;
  }
  body header nav.active img {
    display: block;
    margin-top: 42px;
  }
  body header nav.active .btnPrimaire {
    width: 100%;
    padding: 18px 24px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
  }
  body .heroProjectType {
    flex-direction: column;
    width: 90%;
  }
  body .heroProjectType .descriptionProject {
    width: 100%;
  }
  body .heroProjectType .descriptionProject h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  body .heroProjectType img {
    margin-top: 60px;
    width: 100%;
  }
  body .explicationProject {
    flex-direction: column;
    width: 90%;
    margin: 42px 0;
  }
  body .explicationProject h2 br {
    display: none;
  }
  body .explicationProject p {
    width: 100%;
  }
  body .pictureProject {
    flex-direction: column;
    width: 90%;
  }
  body .pictureProject .littlePicture {
    width: 100%;
  }
  body .projectModule {
    margin: 60px 0;
  }
  body .projectModule .listProject {
    flex-direction: column;
    align-items: center;
  }
  body .projectModule .listProject a {
    width: 80%;
    flex-direction: column-reverse;
    padding: 16px;
  }
  body .projectModule .listProject a:first-of-type {
    margin-bottom: 42px;
  }
  body .projectModule .listProject a::after {
    right: 0;
    bottom: -25px;
    left: initial;
  }
  body .projectModule .listProject a img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  body .projectModule .listProject a h3 {
    line-height: 32px;
    margin: 16px 0 30px 0;
  }
  body .contactModule {
    width: 100%;
  }
  body .contactModule .content {
    width: 90%;
    flex-direction: column-reverse;
  }
  body .contactModule .content::after {
    width: 300px;
    height: 300px;
    top: -10%;
    right: initial;
  }
  body .contactModule .content div {
    width: 100%;
    text-align: center;
  }
  body .contactModule .content img {
    width: 30%;
  }
  body footer {
    flex-direction: column;
    align-items: normal;
    padding: 48px 0;
    height: auto;
  }
  body footer ul {
    align-items: normal;
    flex-direction: column;
    width: 80%;
    margin-left: 36px;
  }
  body footer ul li {
    margin-bottom: 20px;
  }
  body footer div {
    justify-content: normal;
    margin-left: 30px;
  }
  body footer div a {
    margin-right: 20px;
  }
  body footer .logoFooter {
    margin: 60px 0 20px 30px;
  }
}

/*# sourceMappingURL=projet-type.css.map */
