/* Error: 1.5p*rem/px isn't a valid CSS value.
 *     ,
 * 203 |             font-size: pxToRem(24p);
 *     |                        ^^^^^^^^^^^^
 *     '
 *   scss/style.scss 203:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 1.5p*rem/px isn't a valid CSS value.\a     \2577 \a 203 \2502              font-size: pxToRem(24p);\a     \2502                         ^^^^^^^^^^^^\a     \2575 \a   scss/style.scss 203:24  root stylesheet";
}
