@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
body main h1 {
  font-family: "Glook";
  font-size: 3.75rem;
  line-height: 70px;
  margin-bottom: 18px;
}
body main h2 {
  font-family: "Glook";
  font-size: 2.25rem;
}
body main h3 {
  font-family: "Glook";
  font-size: 1.5rem;
}
body main h4 {
  font-family: "Neusa-DemiBold";
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body main p {
  font-family: "Neusa";
  font-size: 1rem;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  background-color: rgba(244, 240, 238, 0);
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaire:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #083837;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  background-color: rgba(244, 240, 238, 0);
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
  transition: transform 0.2s;
}
.btnPrimaireNega:hover {
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px #F4F0EE;
}

/*********************************************/
/****************** ANIMATION ****************/
/*********************************************/
.messagedefilant {
  position: relative;
  display: block;
  margin: 80px 0 0 0;
  padding: 10px 0;
  width: 100%;
  height: 100px;
  background-color: white;
  overflow: hidden;
}
.messagedefilant div {
  position: absolute;
  top: 30px;
  min-width: 100%;
}
.messagedefilant div:after {
  position: relative;
  display: inline-block;
  font-size: 1.875rem;
  white-space: nowrap;
  top: 0;
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  animation: defilement2 10s infinite linear;
  font-family: "Neusa";
  text-transform: uppercase;
  letter-spacing: 2px;
}
.messagedefilant div span {
  animation: defilement 10s infinite linear;
  font-family: "Neusa";
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  font-size: 1.875rem;
  white-space: nowrap;
  top: 0;
}

@keyframes defilement {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -100%;
  }
}
@keyframes defilement2 {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0%;
  }
}
/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0 60px 0;
}
body header button .hamburger-box {
  display: none;
}
body header nav {
  width: 50%;
}
body header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav ul li a p {
  width: max-content;
  position: relative;
}
body header nav ul li a p:hover::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body header nav ul li .btnPrimaire {
  display: block;
  width: 100px;
}
body header nav ul li .btnPrimaire::after {
  display: none;
}
body header nav .actif::after {
  position: absolute;
  content: "";
  background: url(../img/icone/stars_pink.png) no-repeat;
  width: 18px;
  height: 18px;
  background-size: cover;
  top: -5px;
  right: -10px;
  z-index: -1;
}
body header nav img {
  display: none;
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero div {
  width: 55%;
}
.hero div h1 {
  position: relative;
}
.hero div h1::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 40%;
  left: 70%;
  background-image: url("../img/image/stars_white.svg");
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  background-size: cover;
}
.hero div p {
  font-size: 1.5rem;
  line-height: 34px;
  margin-bottom: 42px;
}
.hero div p span {
  font-family: "Neusa-Medium";
}
.hero div a {
  display: block;
  width: 226px;
}
.hero div a p {
  font-size: 1rem;
  line-height: 26px;
}
.hero img {
  width: 35%;
  height: auto;
}

.project {
  background-color: #083837;
  color: #F4F0EE;
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h2 {
  margin-bottom: 60px;
}
.project .projectListHome {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
}
.project .projectListHome a {
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: auto 10px;
  width: 40%;
  height: 150px;
  position: relative;
  justify-content: space-between;
}
.project .projectListHome a:hover::after {
  left: 62%;
}
.project .projectListHome a:hover img {
  opacity: 1;
  filter: grayscale(0);
}
.project .projectListHome a::after {
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 60%;
  transition: left 0.5s;
  transform: translateX(-50%);
}
.project .projectListHome a h3 {
  margin-left: 20px;
  width: 40%;
}
.project .projectListHome a img {
  opacity: 40%;
  border-radius: 10px;
  width: 40%;
  object-fit: cover;
  transition: filter 1s;
  filter: grayscale(1);
}

.prestationsHome {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 72%, rgba(255, 255, 255, 0) 100%);
  width: 70%;
  margin: 120px 0 30px 0;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.prestationsHome .titlePrestaHome {
  position: relative;
  width: 40%;
  margin: 60px 0 0 60px;
}
.prestationsHome .titlePrestaHome::before {
  position: absolute;
  content: "";
  background: url("../img/image/slogan_circulaire.png") no-repeat;
  background-size: cover;
  width: 180px;
  height: 159.08px;
  top: -60px;
  left: -60px;
}
.prestationsHome .titlePrestaHome h2 {
  margin-bottom: 60px;
}
.prestationsHome .titlePrestaHome a {
  width: 160px;
  display: block;
}
.prestationsHome .titlePrestaHome a p {
  background-color: white;
}
.prestationsHome .listPresta {
  width: 45%;
}
.prestationsHome .listPresta div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #ECD3D3;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 12px;
  padding: 6px 0;
}
.prestationsHome .listPresta div:last-of-type {
  margin-bottom: 0;
}
.prestationsHome .listPresta div h3 {
  font-family: "Neusa";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
}
.prestationsHome .listPresta div img {
  width: 48px;
  height: auto;
  margin: 0 24px;
}
.prestationsHome .listPresta .btnPrimaire {
  display: none;
}

.particularyAsk {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #083837;
  color: #F4F0EE;
  width: 70%;
  padding: 2% 5%;
  border-radius: 10px;
}
.particularyAsk p {
  width: 55%;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 600px;
  height: 600px;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule div a {
  display: block;
  width: 118px;
}
.contactModule img {
  width: 30%;
  height: auto;
}

footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/
@media (max-width: 1280px) {
  body::after {
    left: 0;
  }
  body header nav {
    width: 60%;
  }
  body .hero div {
    width: 60%;
  }
  body .hero img {
    width: 35%;
  }
  body .contactModule {
    width: 80%;
  }
}
@media (max-width: 960px) {
  body::after {
    left: 0;
    width: 300px;
    height: 300px;
  }
  body hr {
    margin-bottom: 24px;
  }
  body header button .hamburger-box {
    display: block;
  }
  body header nav {
    display: none;
  }
  body header nav.active {
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #083837;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 42px;
  }
  body header nav.active ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  body header nav.active ul li {
    width: 100%;
  }
  body header nav.active ul li a {
    display: block;
    color: #F4F0EE;
    background-color: rgba(244, 240, 238, 0.1215686275);
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
  }
  body header nav.active ul li a:first-of-type {
    margin-top: 20px;
  }
  body header nav.active ul li .btnPrimaire {
    width: 100%;
    padding: 18px 24px;
    border-radius: 10px;
    border: none;
  }
  body main {
    display: flex;
  }
  body main h1 {
    font-family: "Glook";
    font-size: 3rem;
    line-height: 48px;
  }
  body main h2 {
    font-family: "Glook";
    font-size: 1.875rem;
    line-height: 36px;
  }
  body main h3 {
    font-family: "Glook";
    font-size: 1.125rem;
    line-height: 24px;
  }
  body main h4 {
    font-family: "Neusa-DemiBold";
    font-size: 1rem;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  body main p {
    font-family: "Neusa";
    font-size: 1rem;
    line-height: 26px;
    letter-spacing: 2px;
  }
  body main .hero {
    flex-direction: column;
    width: 90%;
  }
  body main .hero div {
    width: 100%;
  }
  body main .hero div h1::after {
    top: 50%;
    left: 65%;
  }
  body main .hero div p {
    font-size: 1.125rem;
    line-height: 30px;
  }
  body main .hero div .btnPrimaire {
    font-size: 1rem;
  }
  body main .hero img {
    display: none;
  }
  body main .messagedefilant {
    margin-top: 60px;
  }
  body main .project h2 {
    text-align: center;
    margin-bottom: 42px;
  }
  body main .project .projectListHome {
    flex-direction: column;
    margin-bottom: 30px;
  }
  body main .project .projectListHome a {
    width: 100%;
    height: auto;
    flex-direction: column-reverse;
    margin: 0 0 42px 0;
  }
  body main .project .projectListHome a::after {
    bottom: -25px;
    left: 45px;
  }
  body main .project .projectListHome a h3 {
    width: 100%;
    margin: 18px 0 30px 0;
  }
  body main .project .projectListHome a img {
    width: 100%;
    height: 200px;
  }
  body main .project .btnPrimaireNega {
    margin: 0;
  }
  body main .prestationsHome {
    flex-direction: column;
    width: 90%;
  }
  body main .prestationsHome .titlePrestaHome {
    width: auto;
    margin: 0 0 20px 0;
  }
  body main .prestationsHome .titlePrestaHome::before {
    display: none;
  }
  body main .prestationsHome .titlePrestaHome h2 {
    margin-bottom: 18px;
    text-align: center;
  }
  body main .prestationsHome .titlePrestaHome h2 br {
    display: none;
  }
  body main .prestationsHome .titlePrestaHome .btnPrimaire {
    display: none;
  }
  body main .prestationsHome .listPresta {
    width: 100%;
  }
  body main .prestationsHome .listPresta a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  body main .prestationsHome .listPresta a .btnPrimaire {
    display: block;
    width: max-content;
    margin-top: 42px;
  }
  body main .particularyAsk {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 8% 5%;
  }
  body main .particularyAsk h3 {
    width: 100%;
    margin: 0;
  }
  body main .particularyAsk h3 br {
    display: none;
  }
  body main .particularyAsk p {
    width: 100%;
    margin-bottom: 24px;
  }
  body main .contactModule {
    flex-direction: column-reverse;
    width: 90%;
    margin: 100px 0 60px 0;
  }
  body main .contactModule::after {
    width: 300px;
    height: 300px;
    top: -10%;
    right: 0;
  }
  body main .contactModule div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  body main .contactModule div h2 {
    margin-bottom: 0;
  }
  body main .contactModule div p {
    margin-bottom: 30px;
  }
  body main .contactModule img {
    width: 40%;
  }
  body footer {
    flex-direction: column;
    align-items: normal;
    padding: 48px 0;
  }
  body footer ul {
    align-items: normal;
    flex-direction: column;
    width: 80%;
    margin-left: 36px;
  }
  body footer ul li {
    margin-bottom: 20px;
  }
  body footer div {
    justify-content: normal;
    margin-left: 30px;
  }
  body footer div a {
    margin-right: 20px;
  }
  body footer .logoFooter {
    margin: 60px 0 20px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
