@font-face {
  font-family: "Neusa";
  src: url(../font/Neusa-Regular.otf);
}
@font-face {
  font-family: "Neusa-Medium";
  src: url(../font/Neusa-Medium.otf);
}
@font-face {
  font-family: "Neusa-DemiBold";
  src: url(../font/Neusa-DemiBold.otf);
}
@font-face {
  font-family: "Neusa-SemiBold";
  src: url(../font/Neusa-SemiBold.otf);
}
@font-face {
  font-family: "Glook";
  src: url(../font/Gloock-Regular.ttf);
}
/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
h2 {
  font-family: "Glook";
  font-size: 36px;
}

h3 {
  font-family: "Glook";
  font-size: 24px;
}

h4 {
  font-family: "Neusa-DemiBold";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-family: "Neusa";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #083837;
  letter-spacing: 2px;
  font-size: 16px;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

.btnPrimaire {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  border: solid 1px #083837;
  border-radius: 50px;
  padding: 8px 18px;
}
.btnPrimaire:hover {
  border-bottom-width: 3px;
  border-right-width: 3px;
}

.btnPrimaireNega {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 50px;
  padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4F0EE;
  color: #083837;
  width: 100%;
  height: 100vh;
}
body::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("../img/image/courbe.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: 5%;
  left: 20%;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 800px;
  height: 800px;
}
body header {
  font-family: "Neusa-SemiBold";
  text-transform: uppercase;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 60px 60px;
}
body header div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carroussel {
  background-color: #FFFFFF;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}
.carroussel p {
  font-size: 18px;
  text-transform: uppercase;
}

.hero {
  width: 80%;
  margin: auto 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero div {
  width: 55%;
}
.hero div h1 {
  position: relative;
  font-family: "Glook";
  font-size: 60px;
  line-height: 70px;
}
.hero div h1::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 30%;
  left: 60%;
  background-image: url("../img/image/stars_white.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.hero div p {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 42px;
}
.hero div p span {
  font-family: "Neusa-Medium";
}

.project {
  background-color: #083837;
  color: #F4F0EE;
  width: 100%;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h2 {
  margin-bottom: 60px;
}
.project .projectListHome {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;
}
.project .projectListHome a {
  color: #F4F0EE;
  border: solid 1px #F4F0EE;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  margin: auto 10px;
  width: 400px;
  position: relative;
}
.project .projectListHome a::after {
  content: "";
  position: absolute;
  background: url("../img/icone/arrow.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  bottom: 30px;
  left: 60%;
  transform: translateX(-50%);
}
.project .projectListHome a h3 {
  margin-left: 20px;
}
.project .projectListHome a img {
  opacity: 40%;
  border-radius: 10px;
  width: 40%;
}

.prestationsHome {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 72%, rgba(255, 255, 255, 0) 100%);
  width: 70%;
  margin: 120px 0 30px 0;
  padding: 5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
.prestationsHome .titlePrestaHome {
  position: relative;
  width: 40%;
  margin: 60px 0 0 100px;
}
.prestationsHome .titlePrestaHome::before {
  position: absolute;
  content: "";
  background: url("../img/image/slogan_circulaire.png") no-repeat;
  background-size: cover;
  width: 180px;
  height: 159.08px;
  top: -42px;
  left: -60px;
}
.prestationsHome .titlePrestaHome h2 {
  margin-bottom: 60px;
}
.prestationsHome .listPresta {
  width: 45%;
}
.prestationsHome .listPresta div {
  display: flex;
  border: 1px solid #ECD3D3;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 12px;
}
.prestationsHome .listPresta div:last-of-type {
  margin-bottom: 0;
}
.prestationsHome .listPresta div img {
  width: 48px;
  height: auto;
  margin: 0 24px;
}

.particularyAsk {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #083837;
  color: #F4F0EE;
  width: 70%;
  padding: 1% 5%;
  border-radius: 10px;
}
.particularyAsk p {
  width: 55%;
}

.contactModule {
  width: 60%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.contactModule::after {
  z-index: -2;
  content: "";
  position: absolute;
  top: -20%;
  right: 0;
  border-radius: 800px;
  background: radial-gradient(circle, #ECD3D3 20%, rgba(244, 240, 238, 0.3098039216) 60%);
  width: 600px;
  height: 600px;
}
.contactModule div {
  width: 55%;
}
.contactModule div p {
  margin-bottom: 42px;
}
.contactModule img {
  width: 30%;
}

footer {
  background-color: #083837;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer ul {
  width: 60%;
}
footer ul a {
  color: #F4F0EE;
  font-family: "Neusa-DemiBold";
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
footer div {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
footer .logoFooter {
  width: 100px;
  height: auto;
  margin: 24px 0;
}

/*# sourceMappingURL=style.css.map */
