@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

h2 {
    font-family: 'Glook';
    font-size: pxToRem(36px);
}

h3 {
    font-family: 'Glook';
    font-size: pxToRem(24px);
}

h4 {
    font-family: 'Neusa-DemiBold';
    font-size: pxToRem(20px);
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'Neusa';
    font-size: pxToRem(16px);
    line-height: 26px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
}

li {
    font-family: 'Neusa';
    text-transform: uppercase;
    padding-bottom: 12px;
    font-size: 18px;
}

hr {
    border: solid 0.5px $primary-color;
    margin-bottom: 42px;
}

strong {
    font-family: 'Neusa-DemiBold';
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;

    &:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: 100vh;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 60%;
        height: 70%;
    }

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }
        }

        nav {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                display: none;
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: pxToRem(16px);
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
    }
}

.heroAbout {
    width: 80%;

    h1 {
        font-size: pxToRem(80px);
    }

    div {
        display: flex;
        justify-content: space-between;
        margin: 42px 0;

        img {
            width: 260px;
            height: 320px;

            rotate: -4deg;
        }

        p {
            width: 60%;
            font-size: pxToRem(24px);
            line-height: 34px;
        }
    }
}

.skills {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    h2 {
        width: 100%;
    }

    div {
        width: 45%;
    }

    hr {
        width: 100%;
        border: solid 0.5px $primary-color;
        margin: 42px 0;
    }
}

.experience {
    width: 80%;
    margin-bottom: 120px;
    position: relative;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 50%;
        height: 80%;
    }

    .experienceType {
        display: flex;
        justify-content: space-between;

        div {
            width: 30%;

            h3 {
                margin-bottom: 0;
            }

            p {
                font-family: 'Neusa-DemiBold';
                text-transform: uppercase;
            }
        }

        .description {
            width: 60%;
        }
    }
}


/*********************************************/
/******************* MODULE ******************/
/*********************************************/

.projectModule {
    background-color: $primary-color;
    width: 100%;
    margin: 60px 0 2px 0;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;

    .listProject {
        display: flex;
        justify-content: center;
        margin: 42px 0 24px 0;

        a {
            border: solid 1px $secondary-color;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            margin: auto 10px;
            width: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 60%;
                transform: translateX(-50%);
            }

            h3 {
                margin-left: 20px;
                color: $secondary-color;
            }

            img {
                opacity: 40%;
                border-radius: 10px;
                width: 40%;
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: pxToRem(16px);
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
        background-color: $primary-color;
        color: $secondary-color;
    }

}

.contactModule {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 60%;
        height: 100%;
    }

    div {
        width: 55%;

        p {
            margin-bottom: 42px;
        }
    }

    img {
        width: 30%;
    }
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


    li {
        list-style-type: none;
    }

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(16px);
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    div {
        width: 10%;
        display: flex;
        justify-content: space-around;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {
        header {
            nav {
                width: 60%;
            }
        }

        .experienceType {
            div {
                width: 40%;
            }

            .description {
                width: 55%;
            }
        }

        .contactModule {
            width: 80%;
        }
    }
}

@media (max-width: 960px) {
    body {

        h2 {
            font-size: pxToRem(30px);
        }

        hr {
            margin-bottom: 24px;
        }

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;
                    box-sizing: border-box;

                    a {
                        color: $secondary-color;
                        background-color: #f4f0ee1f;
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;

                        &:first-of-type {
                            margin-top: 60px;
                        }
                    }

                    img {
                        display: block;
                        margin-top: 42px;
                    }

                    .btnPrimaire {
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: none;
                    }
                }

            }
        }

        .heroAbout {
            width: 90%;

            h1 {
                font-size: pxToRem(48px);
            }

            div {
                flex-direction: column;
                width: 100%;
                margin-top: 60px;

                p {
                    width: 100%;
                    margin-top: 42px;
                    font-size: 18px;
                }
            }
        }

        .skills {
            width: 90%;
            flex-direction: column;

            div {
                width: 100%;
            }
        }

        .experience {
            width: 90%;

            &::after {
                width: 300px;
                height: 300px;
                top: -5%;
                left: -10%;
            }

            .experienceType {
                flex-direction: column;

                div {
                    width: 100%;
                }

                .description {
                    width: 100%;
                    font-size: pxToRem(18px);
                    line-height: 36px;
                }
            }
        }

        .projectModule {
            margin: 0;

            .listProject {
                flex-direction: column;
                align-items: center;

                a {
                    width: 80%;
                    flex-direction: column-reverse;
                    padding: 16px;

                    &:first-of-type {
                        margin-bottom: 42px;
                    }

                    &::after {
                        right: 0;
                        bottom: -25px;
                        left: initial;
                    }

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h3 {
                        line-height: 32px;
                        margin: 16px 0 30px 0;
                    }
                }
            }
        }

        .contactModule {
            width: 90%;
            flex-direction: column-reverse;

            &::after {
                width: 300px;
                height: 300px;
                top: -10%;
                right: 0;
            }

            div {
                width: 100%;
                text-align: center;
            }

            img {
                width: 30%;
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            div {
                justify-content: normal;
                margin-left: 30px;

                a {
                    margin-right: 20px;
                }
            }

            .logoFooter {
                margin: 60px 0 20px 30px;
            }
        }
    }
}