@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

h2 {
    font-family: 'Glook';
    font-size: pxToRem(36px);
}

h3 {
    font-family: 'Glook';
    font-size: pxToRem(24px);
}

h4 {
    font-family: 'Neusa-DemiBold';
    font-size: pxToRem(20px);
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'Neusa';
    font-size: pxToRem(16px);
    line-height: 26px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;

    &:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;

    &:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: 100vh;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 800px;
        height: 800px;
    }

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }
        }

        nav {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                position: relative;

                &:hover::after {
                    position: absolute;
                    content: "";
                    background: url(../img/icone/stars_pink.png) no-repeat;
                    width: 18px;
                    height: 18px;
                    background-size: cover;
                    top: -5px;
                    right: -10px;
                    z-index: -1;
                }
            }

            .btnPrimaire::after {
                display: none;
            }

            .actif {
                &::after {
                    position: absolute;
                    content: "";
                    background: url(../img/icone/stars_pink.png) no-repeat;
                    width: 18px;
                    height: 18px;
                    background-size: cover;
                    top: -5px;
                    right: -10px;
                    z-index: -1;
                }
            }

            img {
                display: none;
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: pxToRem(16px);
        letter-spacing: 2px;
        text-decoration: underline;
        text-transform: uppercase;
        border: none;
        margin-top: 48px;
    }
}

.heroPortfolio {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Glook';
    font-size: 42px;
    line-height: 80px;
    margin-bottom: 60px;

    h1 {
        font-size: pxToRem(80px);
    }

    p {
        width: 30%;
        margin-top: 200px;
    }
}

.filters {
    justify-content: center;
    margin-top: 120px;
    width: 40%;

    .actif {
        button {
            background-color: $primary-color;
            color: $secondary-color;
            padding: 8px 18px;
            border-radius: 5px;
            font-family: 'Neusa-SemiBold';
        }
    }

    li {
        margin-left: 12px;

        button {
            font-family: 'Neusa';
            font-size: pxToRem(16px);
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: #08383729;
            padding: 8px 18px;
            border-radius: 5px;
            text-decoration: none;
        }
    }
}

.listProject {
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .projetType {
        width: 45%;
        background-color: $primary-color;
        color: $secondary-color;
        padding: 24px;
        margin: 12px 0;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;

        div {
            color: $secondary-color;
            position: relative;
            width: 50%;

            &::after {
                z-index: 1;
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 42px;
                height: 42px;
                bottom: 30px;
                right: -20%;
            }

            span {
                font-family: 'Neusa-DemiBold';
                text-transform: uppercase;
                font-size: pxToRem(12px);
                letter-spacing: 2px;
                background-color: #f4f0ee2b;
                padding: 4px 8px;
                border-radius: 2px;
            }
        }

        img {
            border-radius: 12px;
            opacity: 40%;
            width: 45%;
            object-fit: cover;
            height: auto;
            filter: grayscale(1);
        }
    }
}

.contactModule {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 600px;
        height: 600px;
    }

    div {
        width: 55%;

        p {
            margin-bottom: 42px;
        }
    }

    img {
        width: 30%;
    }
}

.contactModule {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 600px;
        height: 600px;
    }

    div {
        width: 55%;

        p {
            margin-bottom: 42px;
        }
    }

    img {
        width: 30%;
    }
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(16px);
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    div {
        width: 10%;
        display: flex;
        justify-content: space-around;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {
        header {
            nav {
                width: 60%;
            }
        }

        .experienceType {
            div {
                width: 40%;
            }

            .description {
                width: 55%;
            }
        }

        .filters {
            margin-top: 60px;
            width: 60%;
        }

        .listProject {
            width: 90%;

            .projetType {
                width: 43%;
            }
        }

        .contactModule {
            width: 80%;
        }
    }
}

@media (max-width: 960px) {
    body {

        h2 {
            font-size: pxToRem(30px);
        }

        hr {
            margin-bottom: 24px;
        }

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;
                    box-sizing: border-box;

                    a {
                        color: $secondary-color;
                        background-color: #f4f0ee1f;
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;

                        &:first-of-type {
                            margin-top: 60px;
                        }
                    }

                    img {
                        display: block;
                        margin-top: 42px;
                    }

                    .btnPrimaire {
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: none;
                    }
                }

            }
        }

        .heroPortfolio {
            flex-direction: column;
            width: 90%;

            h1 {
                font-size: pxToRem(48px);
                line-height: 58px;
                margin-bottom: 0;
            }

            p {
                width: 100%;
                margin: 18px 0 0 0;
            }
        }

        .filters {
            flex-wrap: wrap;
            justify-content: center;
            width: 90%;

            li {

                button {
                    margin-top: 12px;
                }
            }
        }

        .listProject {
            flex-direction: column;

            .projetType {
                width: 100%;
                box-sizing: border-box;
                flex-direction: column-reverse;
                margin: 0 0 30px 0;

                div {
                    width: 100%;
                    margin: 30px 0 36px 0;

                    &::after {
                        left: 0;
                        bottom: -20%;
                    }
                }

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }
            }
        }

        button {
            margin-top: 24px;
        }

        .contactModule {
            width: 90%;
            flex-direction: column-reverse;

            &::after {
                width: 300px;
                height: 300px;
                top: -10%;
                right: 0;
            }

            div {
                width: 100%;
                text-align: center;
            }

            img {
                width: 30%;
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            div {
                justify-content: normal;
                margin-left: 30px;

                a {
                    margin-right: 20px;
                }
            }

            .logoFooter {
                margin: 60px 0 20px 30px;
            }
        }
    }
}