@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: 100vh;
    margin: 0;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 800px;
        height: 800px;
    }

    main {

        h1 {
            font-family: 'Glook';
            font-size: pxToRem(60px);
            line-height: 70px;
            margin-bottom: 18px;
        }

        h2 {
            font-family: 'Glook';
            font-size: pxToRem(36px);
        }

        h3 {
            font-family: 'Glook';
            font-size: pxToRem(24px);
            margin: 12px 0;
        }

        h4 {
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(20px);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        p {
            font-family: 'Neusa';
            font-size: pxToRem(16px);
            line-height: 26px;
            letter-spacing: 2px;
        }
    }
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    background-color: $secondary-color;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $primary-color;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $secondary-color;
    }
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }
        }

        nav {
            width: 50%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    a {
                        width: max-content;
                        position: relative;

                        &:hover::after {
                            position: absolute;
                            content: "";
                            background: url(../img/icone/stars_pink.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: -5px;
                            right: -10px;
                            z-index: -1;
                        }
                    }

                    .btnPrimaire {
                        display: block;
                        width: 100px;

                        &:hover::after {
                            display: none;
                        }
                    }

                    .actif {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            background: url(../img/icone/stars_pink.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: -5px;
                            right: -10px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        font-family: 'Neusa-DemiBold';
        letter-spacing: 2px;
        text-decoration: underline;
        text-transform: uppercase;
        border: none;
        margin-top: 48px;
    }
}

.heroPortfolio {
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-family: 'Glook';
    line-height: 80px;
    margin-bottom: 60px;

    p {
        width: 30%;
        margin-top: 150px;
    }
}

.filters {
    justify-content: center;
    margin-top: 120px;
    width: 40%;

    .actif {
        button {
            background-color: $primary-color;
            color: $secondary-color;
            padding: 8px 18px;
            border-radius: 5px;
            font-family: 'Neusa-SemiBold';
        }
    }

    li {
        margin-left: 12px;

        button {
            font-family: 'Neusa';
            text-transform: uppercase;
            letter-spacing: 2px;
            background-color: #08383729;
            padding: 8px 18px;
            border-radius: 5px;
            text-decoration: none;
        }
    }
}

.listProject {
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .projetType {
        width: 48%;
        background-color: $primary-color;
        color: $secondary-color;
        padding: 24px;
        margin: 12px 0;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;

        &:hover {

            div::after {
                right: -25%;
            }

            img {
                opacity: 1;
                filter: grayscale(0);
            }
        }

        div {
            color: $secondary-color;
            position: relative;
            width: 50%;

            &::after {
                z-index: 1;
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 42px;
                height: 42px;
                bottom: 30px;
                right: -20%;
                transition: right 0.5s;
            }

            span {
                font-family: 'Neusa-DemiBold';
                text-transform: uppercase;
                letter-spacing: 2px;
                background-color: #f4f0ee2b;
                padding: 4px 8px;
                border-radius: 2px;
            }
        }

        img {
            border-radius: 12px;
            opacity: 40%;
            width: 45%;
            object-fit: cover;
            height: auto;
            filter: grayscale(1);
            transition: opacity 1s;
        }
    }
}

.contactModule {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 600px;
        height: 600px;
    }

    div {
        width: 55%;

        p {
            margin: 18px 0 36px 0;
        }

        .btnPrimaire {
            display: block;
            width: 118px;
        }
    }

    img {
        width: 30%;
    }
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .socialMedia {
        width: 10%;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {
        header {
            nav {
                width: 60%;
            }
        }

        .experienceType {
            div {
                width: 48%;
            }

            .description {
                width: 55%;
            }
        }

        .filters {
            margin-top: 60px;
            width: 60%;
        }

        .listProject {
            width: 90%;
        }

        .contactModule {
            width: 80%;
        }
    }
}

@media (max-width: 960px) {
    body {

        hr {
            margin-bottom: 24px;
        }

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;

                    ul {
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        li {
                            width: 100%;

                            a {
                                display: block;
                                color: $secondary-color;
                                background-color: #f4f0ee1f;
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;

                                &:first-of-type {
                                    margin-top: 20px;
                                }
                            }

                            .btnPrimaire {
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;
                                border: none;
                            }
                        }

                    }
                }

            }
        }

        main {
            display: flex;

            h1 {
                font-family: 'Glook';
                font-size: pxToRem(48px);
                line-height: 48px;
            }

            h2 {
                font-family: 'Glook';
                font-size: pxToRem(30px);
                line-height: 36px;
            }

            h3 {
                font-family: 'Glook';
                font-size: pxToRem(18px);
                line-height: 24px;
            }

            h4 {
                font-family: 'Neusa-DemiBold';
                font-size: pxToRem(16px);
                line-height: 32px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            p {
                font-family: 'Neusa';
                font-size: pxToRem(16px);
                line-height: 26px;
                letter-spacing: 2px;
            }

            .heroPortfolio {
                flex-direction: column;
                width: 90%;
                margin-bottom: 30px;

                h1 {
                    line-height: 58px;
                    margin-bottom: 0;
                }

                p {
                    width: 100%;
                    margin: 18px 0 0 0;
                }
            }

            .filters {
                flex-wrap: wrap;
                justify-content: center;
                width: 90%;

                li {

                    button {
                        margin-top: 12px;
                    }
                }
            }

            .listProject {
                flex-direction: column;

                .projetType {
                    width: 100%;
                    box-sizing: border-box;
                    flex-direction: column-reverse;
                    margin: 0 0 30px 0;

                    div {
                        width: 100%;
                        margin: 30px 0 60px 0;

                        &::after {
                            left: 0;
                            bottom: -50%;
                        }
                    }

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }
                }
            }

            button {
                margin-top: 24px;
            }

            .contactModule {
                flex-direction: column-reverse;
                width: 90%;
                margin: 60px 0;

                &::after {
                    width: 300px;
                    height: 300px;
                    top: -10%;
                    right: 0;
                }

                div {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    h2 {
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 30px;
                    }
                }

                img {
                    width: 40%;
                    margin-bottom: 24px;
                }
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            .socialMedia {
                width: 25%;
                flex-direction: initial;
                justify-content: space-between;
                margin-top: 30px;
            }

            .logoFooter {
                margin: 60px 0 20px 30px;
            }
        }
    }
}