@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

h2 {
    font-family: 'Glook';
    font-size: 36px;
}

h3 {
    font-family: 'Glook';
    font-size: 24px;
}

h4 {
    font-family: 'Neusa-DemiBold';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'Neusa';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: 16px;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

hr {
    border: solid 0.5px $primary-color;
    margin-bottom: 42px;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;

    &:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: 100vh;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 800px;
        height: 800px;
    }

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 60px 60px 60px;

        div {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: 16px;
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
    }
}

.heroPresta {
    width: 80%;

    h1 {
        font-size: 80px;
        line-height: 70px;
    }
}

.Presta {
    width: 80%;
    margin: 60px 0;

    .listPrest {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 60px;

        div {
            width: 45%;
            background-color: white;
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 12px;

            &:last-of-type {
                width: 40%;
                background-color: rgba(255, 255, 255, 0);
                position: relative;

                &::before {
                    z-index: -2;
                    content: '';
                    position: absolute;
                    top: -100%;
                    left: -60%;
                    border-radius: 800px;
                    background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
                    width: 800px;
                    height: 800px;
                }

                h3 {
                    margin-top: 60px;
                }

                p {
                    margin-bottom: 42px;
                }
            }

            img {
                width: auto;
                height: 70px;
            }
        }
    }
}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/

.projectModule {
    background-color: $primary-color;
    width: 100%;
    margin: 60px 0 2px 0;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;

    .listProject {
        display: flex;
        justify-content: center;
        margin: 42px 0 24px 0;

        a {
            border: solid 1px $secondary-color;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            margin: auto 10px;
            width: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 60%;
                transform: translateX(-50%);
            }

            h3 {
                margin-left: 20px;
                color: $secondary-color;
            }

            img {
                opacity: 40%;
                border-radius: 10px;
                width: 40%;
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: 16px;
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
        background-color: $primary-color;
        color: $secondary-color;
    }

}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            font-size: 16px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    div {
        width: 10%;
        display: flex;
        justify-content: space-around;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}