@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

body {
    main {

        h1 {
            font-family: 'Glook';
            font-size: pxToRem(60px);
            line-height: 70px;
            margin-bottom: 18px;
        }

        h2 {
            font-family: 'Glook';
            font-size: pxToRem(36px);
        }

        h3 {
            font-family: 'Glook';
            font-size: pxToRem(24px);
        }

        h4 {
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(20px);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        p {
            font-family: 'Neusa';
            font-size: pxToRem(16px);
            line-height: 26px;
            letter-spacing: 2px;
        }
    }
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

hr {
    border: solid 0.5px $primary-color;
    margin-bottom: 42px;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    background-color: $secondary-color;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $primary-color;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $secondary-color;
    }
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;
    height: 100vh;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 800px;
        height: 800px;
    }

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }
        }

        nav {
            width: 50%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    a {
                        p {
                            width: max-content;
                            position: relative;

                            &:hover::after {
                                position: absolute;
                                content: "";
                                background: url(../img/icone/stars_pink.png) no-repeat;
                                width: 18px;
                                height: 18px;
                                background-size: cover;
                                top: -5px;
                                right: -10px;
                                z-index: -1;
                            }
                        }
                    }

                    .btnPrimaire {
                        display: block;
                        width: 100px;

                        p {
                            &:hover::after {
                                display: none;
                            }
                        }
                    }

                    .actif {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            background: url(../img/icone/stars_pink.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: -5px;
                            right: -10px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: pxToRem(16px);
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
    }
}

.heroPresta {
    width: 80%;

    h1 {
        margin-bottom: 42px;
    }
}

.Presta {
    width: 80%;
    margin: 60px 0;

    .listPrest {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 42px;

        div {
            width: 48%;
            background-color: white;
            padding: 20px;
            margin-bottom: 30px;
            border-radius: 12px;

            &:last-of-type {
                background-color: rgba(255, 255, 255, 0);
                position: relative;
                padding-right: 50px;

                &::before {
                    z-index: -2;
                    content: '';
                    position: absolute;
                    top: -100%;
                    left: -60%;
                    border-radius: 800px;
                    background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
                    width: 800px;
                    height: 800px;
                }

                h3 {
                    margin-top: 60px;
                }

                p {
                    margin-bottom: 42px;
                }

                a {
                    display: block;
                    width: 118px;

                    p {
                        background-color: #ecd3d300;
                    }
                }
            }

            h3 {
                margin: 12px 0;
            }

            img {
                width: auto;
                height: 70px;
            }
        }
    }
}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/

.projectModule {
    background-color: $primary-color;
    width: 100%;
    margin: 60px 0 2px 0;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;

    .listProject {
        display: flex;
        justify-content: center;
        margin: 42px 0 24px 0;

        a {
            position: relative;
            border: solid 1px $secondary-color;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            margin: auto 10px;
            width: 40%;
            height: 150px;
            justify-content: space-between;
            box-sizing: border-box;

            &:hover {

                &::after {
                    left: 62%;
                }

                img {
                    opacity: 1;
                    filter: grayscale(0);
                }
            }

            &::after {
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 60%;
                transition: left 0.5s;
                transform: translateX(-50%);
            }

            h3 {
                margin-left: 20px;
                width: 40%;
                color: $secondary-color;
            }

            img {
                opacity: 40%;
                border-radius: 10px;
                width: 40%;
                object-fit: cover;
                transition: filter 1s;
                filter: grayscale(1);
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
        background-color: $primary-color;
        color: $secondary-color;
    }

}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .socialMedia {
        width: 10%;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {

        &::after {
            width: 400px;
            height: 400px;
        }

        header {
            nav {
                width: 60%;
            }
        }

        .experienceType {
            div {
                width: 40%;
            }

            .description {
                width: 55%;
            }
        }

        .Presta {
            .listPrest {
                div {
                    &:last-of-type {
                        &::before {
                            width: 400px;
                            height: 400px;
                            top: -20%;
                            left: -20%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    body {

        hr {
            margin-bottom: 24px;
        }

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;

                    ul {
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        li {
                            width: 100%;

                            a {
                                display: block;
                                color: $secondary-color;
                                background-color: #f4f0ee1f;
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;

                                &:first-of-type {
                                    margin-top: 20px;
                                }
                            }

                            .btnPrimaire {
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;
                                border: none;
                            }
                        }

                    }
                }

            }
        }

        main {
            display: flex;

            h1 {
                font-family: 'Glook';
                font-size: pxToRem(48px);
                line-height: 48px;
            }

            h2 {
                font-family: 'Glook';
                font-size: pxToRem(30px);
                line-height: 36px;
            }

            h3 {
                font-family: 'Glook';
                font-size: pxToRem(18px);
                line-height: 24px;
            }

            h4 {
                font-family: 'Neusa-DemiBold';
                font-size: pxToRem(16px);
                line-height: 32px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            p {
                font-family: 'Neusa';
                font-size: pxToRem(16px);
                line-height: 26px;
                letter-spacing: 2px;
            }

            .Presta {
                .listPrest {
                    div {
                        width: 100%;

                        &:last-of-type {
                            padding-right: 0;
                            margin-bottom: 0;

                            &::before {
                                width: 300px;
                                height: 300px;
                                top: -10%;
                                left: -10%;
                            }
                        }
                    }
                }
            }

            .projectModule {
                margin: 0 0 2px 0;

                h2 {
                    width: 90%;
                }

                .listProject {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 60px;
                    width: 90%;

                    a {
                        width: 100%;
                        height: 100%;
                        flex-direction: column-reverse;
                        padding: 16px;

                        &:first-of-type {
                            margin-bottom: 42px;
                        }

                        &::after {
                            bottom: -25px;
                            left: 40px;
                        }

                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }

                        h3 {
                            width: 100%;
                            line-height: 32px;
                            margin: 16px 0 30px 0;
                        }
                    }
                }
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            .socialMedia {
                width: 25%;
                flex-direction: initial;
                justify-content: space-between;
                margin-top: 30px;
            }

            .logoFooter {
                margin: 60px 0 20px 30px;
            }
        }
    }
}