@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

$primary-color : #083837;
$secondary-color : #F4F0EE;
$third-color : #ECD3D3;

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

h2 {
    font-family: 'Glook';
    font-size: pxToRem(36px);
}

h3 {
    font-family: 'Glook';
    font-size: pxToRem(24px);
}

h4 {
    font-family: 'Neusa-DemiBold';
    font-size: pxToRem(20px);
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    font-family: 'Neusa';
    font-size: pxToRem(16px);
    line-height: 26px;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: $secondary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;

    &:hover {
        border-bottom-width: 3px;
        border-right-width: 3px;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
    height: 100vh;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-family: 'Glook';
        font-size: pxToRem(60px);
        line-height: 70px;
    }

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }

            .hamburger-inner {
                background-color: $secondary-color;

                &::after {
                    background-color: $secondary-color;
                }

                &::before {
                    background-color: $secondary-color;
                }
            }
        }

        nav {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                display: none;
            }
        }
    }
}


.heroProjectType {
    width: 80%;
    display: flex;
    justify-content: space-between;

    .descriptionProject {
        width: 40%;

        table {
            margin-top: 60px;
            width: 100%;
            border-top: 1px solid $secondary-color;
            border-bottom: 1px solid $secondary-color;
            padding: 18px 0;

            tbody {
                display: flex;
                justify-content: space-between;

                tr {
                    display: flex;
                    flex-direction: column;

                    &:first-of-type {
                        font-family: 'Neusa';
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        align-items: flex-start;
                    }

                    &:last-of-type {
                        font-family: 'Neusa-DemiBold';
                        letter-spacing: 2px;
                        align-items: flex-end;
                    }

                    td {
                        margin-bottom: 18px;
                    }

                    th {
                        margin-bottom: 18px;
                    }
                }
            }
        }
    }

    img {
        width: 45%;
    }
}

.explicationProject {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 120px 0;

    p {
        width: 45%;
    }
}

.pictureProject {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
        width: 100%;
    }

    .littlePicture {
        width: 49%;
        margin-bottom: 2%;
    }

}

/*********************************************/
/******************* MODULE ******************/
/*********************************************/

.projectModule {
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .listProject {
        display: flex;
        justify-content: center;
        margin: 42px 0 24px 0;

        a {
            border: solid 1px $secondary-color;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            margin: auto 10px;
            width: 400px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 60%;
                transform: translateX(-50%);
            }

            h3 {
                margin-left: 20px;
            }

            img {
                opacity: 40%;
                border-radius: 10px;
                width: 40%;
            }
        }
    }

    button {
        font-family: 'Neusa-DemiBold';
        font-size: pxToRem(16px);
        letter-spacing: 2px;
        text-decoration: underline;
        border: none;
        margin-top: 48px;
        background-color: $primary-color;
        color: $secondary-color;
    }

}

.contactModule {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    color: $primary-color;


    .content {
        width: 60%;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 120px 0;

        &::after {
            z-index: 0;
            content: '';
            position: absolute;
            top: -20%;
            right: 0;
            border-radius: 800px;
            background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
            width: 400px;
            height: 400px;
        }

        div {
            width: 55%;

            p {
                margin-bottom: 42px;
            }

            a {
                color: $primary-color;
                border: solid 1px $primary-color;
            }
        }

        img {
            z-index: 1;
            width: 30%;
        }
    }
}

/*********************************************/
/******************* FOOTER ******************/
/*********************************************/

footer {
    background-color: $primary-color;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(16px);
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    div {
        width: 10%;
        display: flex;
        justify-content: space-around;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {
        header {
            nav {
                width: 60%;
            }
        }

        .contactModule {
            .content {
                width: 80%;
            }
        }
    }
}

@media (max-width: 960px) {
    body {

        h2 {
            font-size: pxToRem(30px);
        }

        hr {
            margin-bottom: 24px;
        }

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;
                    box-sizing: border-box;

                    a {
                        color: $secondary-color;
                        background-color: #f4f0ee1f;
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;

                        &:first-of-type {
                            margin-top: 60px;
                        }
                    }

                    img {
                        display: block;
                        margin-top: 42px;
                    }

                    .btnPrimaire {
                        width: 100%;
                        padding: 18px 24px;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: none;
                    }
                }

            }
        }

        .heroProjectType {
            flex-direction: column;
            width: 90%;

            .descriptionProject {
                width: 100%;

                h1 {
                    font-size: pxToRem(48px);
                    margin-bottom: 0;
                }
            }

            img {
                margin-top: 60px;
                width: 100%;
            }
        }

        .explicationProject {
            flex-direction: column;
            width: 90%;
            margin: 42px 0;

            h2 {
                br {
                    display: none;
                }
            }

            p {
                width: 100%;
            }
        }

        .pictureProject {
            flex-direction: column;
            width: 90%;

            .littlePicture {
                width: 100%;
            }
        }

        .projectModule {
            margin: 60px 0;

            .listProject {
                flex-direction: column;
                align-items: center;

                a {
                    width: 80%;
                    flex-direction: column-reverse;
                    padding: 16px;

                    &:first-of-type {
                        margin-bottom: 42px;
                    }

                    &::after {
                        right: 0;
                        bottom: -25px;
                        left: initial;
                    }

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    h3 {
                        line-height: 32px;
                        margin: 16px 0 30px 0;
                    }
                }
            }
        }

        .contactModule {
            width: 100%;

            .content {
                width: 90%;
                flex-direction: column-reverse;

                &::after {
                    width: 300px;
                    height: 300px;
                    top: -10%;
                    right: initial;
                }


                div {
                    width: 100%;
                    text-align: center;
                }

                img {
                    width: 30%;
                }
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;
            height: auto;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            div {
                justify-content: normal;
                margin-left: 30px;

                a {
                    margin-right: 20px;
                }
            }

            .logoFooter {
                margin: 60px 0 20px 30px;
            }
        }
    }
}