@use 'variable' as *;
@use 'sass:math';

@function pxToRem($size) {
    @return math.div($size, 16px) * 1rem;
}

@font-face {
    font-family: 'Neusa';
    src: url(../font/Neusa-Regular.otf);
}

@font-face {
    font-family: 'Neusa-Medium';
    src: url(../font/Neusa-Medium.otf);
}

@font-face {
    font-family: 'Neusa-DemiBold';
    src: url(../font/Neusa-DemiBold.otf);
}

@font-face {
    font-family: 'Neusa-SemiBold';
    src: url(../font/Neusa-SemiBold.otf);
}

@font-face {
    font-family: 'Glook';
    src: url(../font/Gloock-Regular.ttf);
}

/*********************************************/
/****************** GENERAL ******************/
/*********************************************/

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
    color: $primary-color;
    width: 100%;

    &::before {
        z-index: -1;
        content: '';
        position: absolute;
        background-image: url('../img/image/courbe.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: 5%;
        left: 20%;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 800px;
        height: 800px;
    }

    main {

        h1 {
            font-family: 'Glook';
            font-size: pxToRem(60px);
            line-height: 70px;
            margin-bottom: 18px;
        }

        h2 {
            font-family: 'Glook';
            font-size: pxToRem(36px);
        }

        h3 {
            font-family: 'Glook';
            font-size: pxToRem(24px);
        }

        h4 {
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(20px);
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        p {
            font-family: 'Neusa';
            font-size: pxToRem(16px);
            line-height: 26px;
            letter-spacing: 2px;
        }
    }
}

a {
    text-decoration: none;
    color: $primary-color;
    letter-spacing: 2px;
    font-size: pxToRem(16px);
    line-height: 26px;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;
}

.btnPrimaire {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    background-color: #f4f0ee00;
    border: solid 1px $primary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $primary-color;
    }
}

.btnPrimaireNega {
    font-family: 'Neusa-SemiBold';
    text-transform: uppercase;
    color: $secondary-color;
    background-color: #f4f0ee00;
    border: solid 1px $secondary-color;
    border-radius: 50px;
    padding: 8px 18px;
    transition: transform 0.2s;

    a {
        color: $secondary-color;
    }

    &:hover {
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px $secondary-color;
    }
}

/*********************************************/
/****************** ANIMATION ****************/
/*********************************************/

.messagedefilant {
    position: relative;
    display: block;
    margin: 80px 0 0 0;
    padding: 10px 0;
    width: 100%;
    height: 100px;
    background-color: white;
    overflow: hidden;

    div {
        position: absolute;
        top: 30px;
        min-width: 100%;

        &:after {
            position: relative;
            display: inline-block;
            font-size: pxToRem(30px);
            white-space: nowrap;
            top: 0;
            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-text);
            animation: defilement2 10s infinite linear;
            font-family: 'Neusa';
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        span {
            animation: defilement 10s infinite linear;
            font-family: 'Neusa';
            text-transform: uppercase;
            letter-spacing: 2px;
            position: relative;
            display: inline-block;
            font-size: pxToRem(30px);
            white-space: nowrap;
            top: 0;
        }
    }
}


@keyframes defilement {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -100%;
    }
}

@keyframes defilement2 {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0%;
    }
}

/*********************************************/
/******************** HOME *******************/
/*********************************************/

body {

    header {
        font-family: 'Neusa-SemiBold';
        text-transform: uppercase;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 24px 0 60px 0;

        button {
            .hamburger-box {
                display: none;
            }
        }

        nav {
            width: 50%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;

                li {
                    a {
                        width: max-content;
                        position: relative;

                        &:hover::after {
                            position: absolute;
                            content: "";
                            background: url(../img/icone/stars_pink.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: -5px;
                            right: -10px;
                            z-index: -1;
                        }
                    }

                    .btnPrimaire {
                        display: block;
                        width: 100px;

                        &:hover::after {
                            display: none;
                        }
                    }

                    .actif {
                        position: relative;

                        &::after {
                            position: absolute;
                            content: "";
                            background: url(../img/icone/stars_pink.png) no-repeat;
                            width: 18px;
                            height: 18px;
                            background-size: cover;
                            top: -5px;
                            right: -10px;
                            z-index: -1;
                        }
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        width: 55%;

        h1 {
            position: relative;

            &::after {
                z-index: -1;
                content: '';
                position: absolute;
                top: 40%;
                left: 70%;
                background-image: url('../img/image/stars_white.svg');
                background-repeat: no-repeat;
                width: 60px;
                height: 60px;
                background-size: cover;
            }
        }

        p {
            font-size: pxToRem(24px);
            line-height: 34px;
            margin-bottom: 42px;

            span {
                font-family: 'Neusa-Medium';
            }

            &:last-of-type {
                display: block;
                width: 226px;
                font-size: pxToRem(16px);
                line-height: 26px;
            }
        }
    }

    img {
        width: 35%;
        height: auto;
    }
}

.project {
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 60px;
    }

    .projectListHome {
        width: 90%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 60px;

        a {
            color: $secondary-color;
            border: solid 1px $secondary-color;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            margin: auto 10px;
            width: 40%;
            height: 150px;
            position: relative;
            justify-content: space-between;

            &:hover {

                &::after {
                    left: 62%;
                }

                img {
                    opacity: 1;
                    filter: grayscale(0);
                }
            }

            &::after {
                content: '';
                position: absolute;
                background: url('../img/icone/arrow.png') no-repeat;
                background-size: cover;
                width: 50px;
                height: 50px;
                bottom: 30px;
                left: 60%;
                transition: left 0.5s;
                transform: translateX(-50%);
            }

            h3 {
                margin-left: 20px;
                width: 40%;
            }

            img {
                opacity: 40%;
                border-radius: 10px;
                width: 40%;
                object-fit: cover;
                transition: opacity 1s;
                filter: grayscale(1);
            }
        }
    }
}

.prestationsHome {
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 72%, rgba(255, 255, 255, 0) 100%);
    width: 70%;
    margin: 120px 0 30px 0;
    padding: 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .titlePrestaHome {
        position: relative;
        width: 40%;
        margin: 60px 0 0 60px;

        &::before {
            position: absolute;
            content: '';
            background: url('../img/image/slogan_circulaire.png') no-repeat;
            background-size: cover;
            width: 180px;
            height: 159.08px;
            top: -60px;
            left: -60px;
        }

        h2 {
            margin-bottom: 60px;
        }

        .btnPrimaire {
            width: 160px;
            display: block;
        }
    }

    .listPresta {
        width: 45%;

        div {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            border: 1px solid $third-color;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 12px;
            padding: 6px 0;

            &:last-of-type {
                margin-bottom: 0;
            }

            h3 {
                font-family: 'Neusa';
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: pxToRem(20px);
            }

            img {
                width: 48px;
                height: auto;
                margin: 0 24px;
            }
        }

        .btnPrimaire {
            display: none;
        }
    }
}

.particularyAsk {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-color;
    color: $secondary-color;
    width: 70%;
    padding: 2% 5%;
    border-radius: 10px;

    p {
        width: 55%;
    }

    .btnPrimaireNega {
        width: 120px;
    }
}

.contactModule {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 120px 0;

    &::after {
        z-index: -2;
        content: '';
        position: absolute;
        top: -20%;
        right: 0;
        border-radius: 800px;
        background: radial-gradient(circle, $third-color 20%, #f4f0ee4f 60%);
        width: 600px;
        height: 600px;
    }

    div {
        width: 55%;

        p {
            margin: 18px 0 36px 0;
        }

        .btnPrimaire {
            display: block;
            width: 118px;
        }
    }

    img {
        width: 30%;
        height: auto;
    }
}

footer {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    ul {
        width: 60%;

        a {
            color: $secondary-color;
            font-family: 'Neusa-DemiBold';
            font-size: pxToRem(16px);
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .socialMedia {
        width: 10%;
    }

    .logoFooter {
        width: 100px;
        height: auto;
        margin: 24px 0;
    }
}

/*********************************************/
/***************** RESPONSIVE ****************/
/*********************************************/

@media (max-width: 1280px) {
    body {

        &::after {
            left: 0;
        }

        header {
            nav {
                width: 60%;
            }
        }

        .hero {
            div {
                width: 60%;
            }

            img {
                width: 35%;
            }
        }

        .contactModule {
            width: 80%;
        }
    }
}

@media (max-width: 960px) {

    body {

        &::after {
            left: 0;
            width: 300px;
            height: 300px;
        }

        hr {
            margin-bottom: 24px;
        }

        header {

            button {
                .hamburger-box {
                    display: block;
                }
            }

            nav {
                display: none;

                &.active {
                    z-index: 1;
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
                    background-color: $primary-color;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    padding: 42px;

                    ul {
                        flex-direction: column;
                        align-items: flex-start;
                        width: 100%;

                        li {
                            width: 100%;

                            a {
                                display: block;
                                color: $secondary-color;
                                background-color: #f4f0ee1f;
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;

                                &:first-of-type {
                                    margin-top: 20px;
                                }
                            }

                            .btnPrimaire {
                                width: 100%;
                                padding: 18px 24px;
                                border-radius: 10px;
                                border: none;
                            }
                        }

                    }
                }

            }
        }

        main {
            display: flex;

            h1 {
                font-family: 'Glook';
                font-size: pxToRem(48px);
                line-height: 48px;
            }

            h2 {
                font-family: 'Glook';
                font-size: pxToRem(30px);
                line-height: 36px;
            }

            h3 {
                font-family: 'Glook';
                font-size: pxToRem(18px);
                line-height: 24px;
            }

            h4 {
                font-family: 'Neusa-DemiBold';
                font-size: pxToRem(16px);
                line-height: 32px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            p {
                font-family: 'Neusa';
                font-size: pxToRem(16px);
                line-height: 26px;
                letter-spacing: 2px;
            }

            .hero {
                flex-direction: column;
                width: 90%;

                div {
                    width: 100%;

                    h1 {
                        &::after {
                            top: 50%;
                            left: 65%;
                        }
                    }

                    p {
                        font-size: pxToRem(18px);
                        line-height: 30px;
                    }

                    .btnPrimaire {
                        font-size: pxToRem(16px);
                    }
                }

                img {
                    display: none;
                }
            }

            .messagedefilant {
                margin-top: 60px;
            }

            .project {
                h2 {
                    text-align: center;
                    margin-bottom: 42px;
                }

                .projectListHome {
                    flex-direction: column;
                    margin-bottom: 30px;

                    a {
                        width: 100%;
                        height: auto;
                        flex-direction: column-reverse;
                        margin: 0 0 42px 0;

                        &::after {
                            bottom: -25px;
                            left: 45px;
                        }

                        h3 {
                            width: 100%;
                            margin: 18px 0 30px 0;
                        }

                        img {
                            width: 100%;
                            height: 200px;
                        }
                    }
                }

                .btnPrimaireNega {
                    margin: 0;
                }
            }

            .prestationsHome {
                flex-direction: column;
                width: 90%;

                .titlePrestaHome {
                    width: auto;
                    margin: 0 0 20px 0;

                    &::before {
                        display: none;
                    }

                    h2 {
                        margin-bottom: 18px;
                        text-align: center;

                        br {
                            display: none;
                        }
                    }

                    .btnPrimaire {
                        display: none;
                    }
                }

                .listPresta {
                    width: 100%;

                    div {
                        h3 {
                            font-size: pxToRem(16px);
                            line-height: 32px;
                        }

                        img {
                            margin: 0 12px;
                        }
                    }

                    a {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        .btnPrimaire {
                            display: block;
                            width: max-content;
                            margin-top: 42px;
                        }
                    }
                }
            }

            .particularyAsk {
                flex-direction: column;
                align-items: flex-start;
                width: 90%;
                padding: 8% 5%;

                h3 {
                    width: 100%;
                    margin: 0;

                    br {
                        display: none;
                    }
                }

                p {
                    width: 100%;
                    margin-bottom: 24px;

                }
            }

            .contactModule {
                flex-direction: column-reverse;
                width: 90%;
                margin: 100px 0 60px 0;

                &::after {
                    z-index: -2;
                    width: 300px;
                    height: 300px;
                    top: -10%;
                    right: 0;
                }

                div {
                    z-index: 1;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    h2 {
                        margin-bottom: 0;
                    }

                    p {
                        margin-bottom: 30px;
                    }
                }

                img {
                    width: 40%;
                }
            }
        }

        footer {
            flex-direction: column;
            align-items: normal;
            padding: 48px 0;

            ul {
                align-items: normal;
                flex-direction: column;
                width: 80%;
                margin-left: 36px;

                li {
                    margin-bottom: 20px;
                }
            }

            .socialMedia {
                width: 25%;
                flex-direction: initial;
                justify-content: space-between;
                margin-top: 30px;
            }

            .logoFooter {
                margin: 30px 0 20px 30px;
            }
        }
    }

}